<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ai Powered Nutrition Analyzer</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="container">
        <h1>
          <span class="ai">AI</span>
          <span>
            <span>NUTRITION</span>
            <span>ANALYZER</span>
          </span>
        </h1>
        <p class="description">
          Diet is the essential key to all successful healing. Without a
          properly balanced diet, the effectiveness of herbal treatment is very
          limited
        </p>
        <button>Try it now</button>
      </div>
    </main>
  </body>
</html>
